/* Estilos para el h1 */
h1 {
  color: #0074cc; /* Azul claro */
  text-align: center;
  padding: 20px;
  margin-top: 50px; /* Ajusta según la altura de tu menú */
  line-height: 1.5; /* Ajusta según sea necesario */
}

/* Estilos para el div Instrucciones */
.Instrucciones, .Algoritmo{
  background-color: #001f3f; /* Azul marino */
  color: #fff; /* Texto en blanco */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px; /* Espacio entre el menú y las instrucciones */
}

.Instrucciones p, .Algoritmo p{
  font-size: 1.5em;
}

.Instrucciones li, .Algoritmo li{
  margin-bottom: 10px;
}

/* Estilos para el menú */
#Menu-bar {
  background-color: #001f3f; /* Azul marino */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#Menu-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#Menu-bar li {
  float: left;
}

#Menu-bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; /* Añadido box-shadow y color para transiciones */
  position: relative;
}

#Menu-bar a:hover {
  background-color: #004080; /* Azul más claro al hacer hover */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); /* Efecto de luz neon */
  color: #00aaff; /* Color de texto al hacer hover */
  border-radius: 10px;
}



/* Paleta de colores */
.subtitle2 {
  background-color: #001f3f;
  color: #0074cc;
  text-align: center;
}


.Method {
  background-color: #001f3f; /* Azul marino */
  color: #fff; /* Texto en blanco */
  padding: 20px;
}

.Method h2.subtitle {
  color: #0074cc; /* Azul claro */
}

.Method h3 {
  color: #00aaff; /* Azul más claro */
}

.Method ul {
  list-style-type: none;
  padding: 0;
}

.Method ul li {
  margin-bottom: 10px;
}

.Datos-Metodo {
  background-color: #003366; /* Azul oscuro */
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
}

.Datos-Metodo input[type="text"] {
  margin-bottom: 10px;
  padding: 8px;
}

.Datos-Metodo input[type="button"] {
  background-color: #004080; /* Azul */
  color: #fff; /* Texto en blanco */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; /* Añadido box-shadow y color para transiciones */
}

.Datos-Metodo input[type="button"]:hover {
background-color: #004080; /* Azul más claro al hacer hover */
box-shadow: 0 0 10px rgba(0, 255, 255, 0.8); /* Efecto de luz neon */
color: #00aaff; /* Color de texto al hacer hover */
border-radius: 5px;
}


.Datos-Metodo input[type="text"]:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}